body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*Navigation / header*/

.navigation-items {
    display: flex;
    justify-content: end;
    gap: 35px;
    list-style: none;
}
.navigation-item {
    text-decoration: none !important;
    color: inherit;
}
h1 {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

/*Main*/

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: 50px;
    flex-wrap: wrap;
}
a:link {
    text-decoration:none;
    }

img {
    width: 300px;
    height: 300px;
}

.about-me-text-container {
    width: 420px;
}